#living-room-curtain {
    background-image: url("../assets/shade.jpg");
    position: absolute;
    top: 40.2%;
    left: 9.6%;
    height: 9.9%;
    width: 7.4%;
    display: none;
    background-color: #ab5c5a;

}

#upstairs-curtain {
    background-image: url("../assets/shade.jpg");
    position: absolute;
    top: 21.0%;
    left: 10.9%;
    height: 6.2%;
    width: 4.8%;
    display: none;
    background-color: #ab5c5a;

}