/*Side panel styling */
.side-panel {
    
    font-family: 'Verdana', sans-serif;
    width: auto\9;  /* ie8 */
    vertical-align: text-top;
    position: relative;
}

.btn-ico {
    opacity: 0.5;
}

.btn-ico:hover {
    opacity: 1;
}